{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main entry-list">
    <header class="list-header">
	{{ $type := .Type }}
	{{ range $key, $value := .Data.Terms.ByCount }}
	{{ $name := .Name }}
	{{ $count := .Count }}
	{{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
	  <article class="entry-single">
	    <header class="entry-header">
		  <h3 class="entry-title">
			<a class="entry-link"  href="{{ .Permalink }}">
				{{ printf "(%d) %s" $count $name }}
			</a>
		  </h3>
		</header>
	  </article>
	{{ end }}
	{{ end }}
    </header>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
